In [96]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [98]:
df = pd.read_csv(r"Uber Request Data.csv")

In [100]:
df.head()

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
0,619,Airport,1.0,Trip Completed,11/7/2016 11:51,11/7/2016 13:00
1,867,Airport,1.0,Trip Completed,11/7/2016 17:57,11/7/2016 18:47
2,1807,City,1.0,Trip Completed,12/7/2016 9:17,12/7/2016 9:58
3,2532,Airport,1.0,Trip Completed,12/7/2016 21:08,12/7/2016 22:03
4,3112,City,1.0,Trip Completed,13-07-2016 08:33:16,13-07-2016 09:25:47

In [102]:
df.tail()

,Request id,Pickup point,Driver id,Status,Request timestamp,Drop timestamp
6740,6745,City,NaN,No Cars Available,15-07-2016 23:49:03,NaN
6741,6752,Airport,NaN,No Cars Available,15-07-2016 23:50:05,NaN
6742,6751,City,NaN,No Cars Available,15-07-2016 23:52:06,NaN
6743,6754,City,NaN,No Cars Available,15-07-2016 23:54:39,NaN
6744,6753,Airport,NaN,No Cars Available,15-07-2016 23:55:03,NaN

In [104]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Request id,6745.0,3384.644922,1955.099667,1.0,1691.0,3387.0,5080.0,6766.0
Driver id,4095.0,149.501343,86.051994,1.0,75.0,149.0,224.0,300.0

In [106]:
df.drop(["Request id","Driver id"], axis = 1, inplace = True)

In [108]:
df.isnull().sum()

Pickup point            0
Status                  0
Request timestamp       0
Drop timestamp       3914
dtype: int64

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6745 entries, 0 to 6744
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Pickup point       6745 non-null   object
 1   Status             6745 non-null   object
 2   Request timestamp  6745 non-null   object
 3   Drop timestamp     2831 non-null   object
dtypes: object(4)
memory usage: 210.9+ KB

In [112]:
df.duplicated().sum()

308

In [114]:
df.drop_duplicates(inplace = True)

In [116]:
df.reset_index(drop = True)

     Pickup point             Status    Request timestamp       Drop timestamp
0         Airport     Trip Completed      11/7/2016 11:51      11/7/2016 13:00
1         Airport     Trip Completed      11/7/2016 17:57      11/7/2016 18:47
2            City     Trip Completed       12/7/2016 9:17       12/7/2016 9:58
3         Airport     Trip Completed      12/7/2016 21:08      12/7/2016 22:03
4            City     Trip Completed  13-07-2016 08:33:16  13-07-2016 09:25:47
...           ...                ...                  ...                  ...
6432         City  No Cars Available  15-07-2016 23:49:03                  NaN
6433      Airport  No Cars Available  15-07-2016 23:50:05                  NaN
6434         City  No Cars Available  15-07-2016 23:52:06                  NaN
6435         City  No Cars Available  15-07-2016 23:54:39                  NaN
6436      Airport  No Cars Available  15-07-2016 23:55:03                  NaN

[6437 rows x 4 columns]

In [118]:
df["Pickup point"].value_counts()

Pickup point
City       3397
Airport    3040
Name: count, dtype: int64

In [120]:
df["Status"].value_counts()

Status
Trip Completed       2829
No Cars Available    2429
Cancelled            1179
Name: count, dtype: int64

In [122]:
df = pd.get_dummies(data = df, columns = ["Status"],drop_first = True)

In [124]:
df["Pickup point"] = df["Pickup point"].replace({"City": 0, "Airport" : 1})

C:\Users\Mx\AppData\Local\Temp\ipykernel_8064\1942009107.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["Pickup point"] = df["Pickup point"].replace({"City": 0, "Airport" : 1})

In [126]:
df["Status_No Cars Available"] = df["Status_No Cars Available"].apply(lambda x : x * 1)
df["Status_Trip Completed"] = df["Status_Trip Completed"].apply(lambda x : x * 1)

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6437 entries, 0 to 6744
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pickup point              6437 non-null   int64
 1   Request timestamp         6437 non-null   object
 2   Drop timestamp            2829 non-null   object
 3   Status_No Cars Available  6437 non-null   int64
 4   Status_Trip Completed     6437 non-null   int64
dtypes: int64(3), object(2)
memory usage: 301.7+ KB

In [84]:
#df["Pickup point"] = df["Pickup point"].apply(lambda x : x * 1)

In [86]:
df

,Pickup point,Request timestamp,Drop timestamp,Status_No Cars Available,Status_Trip Completed
0,1,11/7/2016 11:51,11/7/2016 13:00,0,1
1,1,11/7/2016 17:57,11/7/2016 18:47,0,1
2,0,12/7/2016 9:17,12/7/2016 9:58,0,1
3,1,12/7/2016 21:08,12/7/2016 22:03,0,1
4,0,13-07-2016 08:33:16,13-07-2016 09:25:47,0,1
...,...,...,...,...,...
6740,0,15-07-2016 23:49:03,NaN,1,0
6741,1,15-07-2016 23:50:05,NaN,1,0
6742,0,15-07-2016 23:52:06,NaN,1,0
6743,0,15-07-2016 23:54:39,NaN,1,0
6744,1,15-07-2016 23:55:03,NaN,1,0

In [136]:
df["Request timestamp"] = pd.to_datetime(df["Request timestamp"],format = "%d$m%Y")

ValueError: time data "11/7/2016 11:51" doesn't match format "%d$m%Y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

# Assistant
The error occurs because the format specified in the `pd.to_datetime` function does not match the actual format of the date strings in your DataFrame. 

In your code, you have:

In [139]:
format = "%d$m%Y"

However, the date string "11/7/2016 11:51" is in the format "day/month/year hour:minute", which should be represented as:

In [142]:
format = "%d/%m/%Y %H:%M"

In [147]:
#df = pd.read_csv(r"Uber Request Data.csv", parse_dates = ["Request timestamp"])
df["Request timestamp"] = pd.to_datetime(df["Request timestamp"], format="%d/%m/%Y %H:%M")
# Changed the format to match the actual date string format in the DataFrame
# df = pd.read_csv(r"Uber Request Data.csv", parse_dates=["Request timestamp"])
df["Request timestamp"] = pd.to_datetime(df["Request timestamp"], format="%d-%m-%Y %H:%M:%S")
# Changed the format to match the actual date string format in the DataFrame

ValueError: time data "13-07-2016 08:33:16" doesn't match format "%d/%m/%Y %H:%M", at position 4. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [151]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6745 entries, 0 to 6744
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Request id         6745 non-null   int64
 1   Pickup point       6745 non-null   object
 2   Driver id          4095 non-null   float64
 3   Status             6745 non-null   object
 4   Request timestamp  6745 non-null   object
 5   Drop timestamp     2831 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 316.3+ KB

In [149]:
df["Request timestamp"] = df["Request timestamp"].dt.strftime("$d$m$Y")

AttributeError: Can only use .dt accessor with datetimelike values